body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.filter{
    position: absolute;
    z-index: -1;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 100%);
    background-size: cover;
    background-position: center;
}

.background{
    position:absolute;
    z-index: -2;
    width: 100vw;
}

a {
    text-decoration: none; 
    color: white; 
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    height: 30px;
    
}

body{
    background-image: url("background.png");
}

.cont-header{
    display: flex;
}

.logo{
    width:80px;
    height: 70px;
    position:relative;
    right:21vw;

}
.cont-header a{
    color: white;    
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}
.commencer a{
    background-color:rgb(232, 7, 146);
    border-radius: 30px;
    margin-left: 15px;  
}
.connexion a{
    background-color: white;
    color:black;
    border-radius: 30px;
}
button{
    background: none;
    border: none;
}
.logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}
nav{

    margin-right: -10%;
}
nav li{
    display: inline-block;
    padding-right:40px;
}

li a{
    font-weight: bold;
    font-size: 22px;

    color: white;
}

.go a:hover {
    cursor: pointer;
    color: rgb(232, 7, 146);
    transition: 0.5s;
}

.when-mobile {
    display: none;

}

.Description {
    /* Effectue des simulations de routage avec NetVision NetVision est l’outil le plus performant de sa génération */

    position: absolute;
    width: 52vw;
    height: 92px;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%);
    
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #F3E8EE;
}
.Description-highlight{
    color: #B557FF;
}

.preview{
    position: absolute;
    width: 100vw;
    height: 30vw;
    top: 25vw;
}

.image1{
    position: absolute;
    width: 100vw;
    height: 30vw;

}

.Card1-Image{
    position: absolute;
    width: 18vw;
    height: 16vw;
    left: 1vw;
    top: 2vw;
    z-index: 10;
}

.Card2-Image{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 1vw;
    top: 1vw;
}

.Card3-Image{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 1vw;
    top: 1vw;
}

.Card1{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 10%;
    top: 5vw;

    background: #f5f5f5;
    border-radius: 8px;
}

.Card2{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 40%;
    top: 5vw;

    background: #f5f5f5;
    border-radius: 8px;
}

.Card3{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 70%;
    top: 5vw;

    background: #f5f5f5;
    border-radius: 8px;
}

/* Découvrir maintenant ! */
.Decouvrir{
    position: absolute;
    width: 35vw;
    height: 4vw;
    left: 50%;
    transform: translateX(-50%);
    top: 19vw;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    background: #6531FC;
    box-shadow: 0px 12px 24px rgba(255, 255, 255, 0.2);
    border-radius: 9px;
}

.CTAcontainer{
    position: absolute;
    width: 90%;
    height: 15vw;
    left: 50%;
    transform: translateX(-50%);
    top: 60vw;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0.6) 0%, rgba(36, 36, 36, 0.6) 100%);
    border-radius: 15px;
}


/* Simulation performante et modulable Utilisable par les professionnels et les amateurs */
.CTAsimulation{
    position: absolute;
    width: 300px;
    height: 148px;
    left: 46%;
    top: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    align-items: middle;
    color: #F3E8EE;
}


/* Un problème ? Envoyez un simple mail à nos équipes, vous recevrez une réponse sous 24h */
.CTAprobleme{
    position: absolute;
    width: 311px;
    height: 148px;
    left: 5%;
    top: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    align-items: middle;
    color: #F3E8EE;
}


/* SIMULATION SUPPORT CLIENT 7j/7 24h/24 */
.CTAsupport{
    position: absolute;
    width: 296px;
    height: 152px;
    left: 78%;
    top: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    align-items: middle;
    color: #F3E8EE;
}

.CTA-highlight{
    color: #D81159;

}


.reviews{
    position: absolute;
    width: 100vw;
    height: 30vw;
    left: 0px;
    top: 90vw;
}

.image2{
    position: absolute;
    width: 100vw;
    height: 30vw;
    left: 0px;
    top: 0px;
}


/* Des utilisateurs satisfaits */
.textSatisfait{
    position: absolute;
    width: 39vw;
    height: 7vw;
    left: 10vw;
    top: 5vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F3E8EE;

    text-shadow: 0px 4px 4px rgba(31, 47, 191, 0.25);
}

/* Content */
.avis{
    position: absolute;
    width: 905px;
    height: 347px;
    left: 20vw;
    top: 5vw;
}

.arrows{
    position: absolute;
    width: 112px;
    height: 40px;
    left: 5vw;
    top: 10vw;
}

.leftarrow-container{
    position: absolute;
    width: 48px;
    height: 48px;
    left: -11px;
    top: 93px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 33px;
}

.leftarrow{

    position: absolute;
    width: 55px;
    height: 55px;
    left: -6px;
    top: -1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
    border-radius: inherit;
}


.rightarrow-container{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 77px;
    top: 93px;

    border-radius: 33px;
}

.rightarrow{
    position: absolute;
    width: 47px;
    height: 47px;
    left: -1px;
    top: -1px;
    
    border-radius: inherit;

}

.rightarrow-circle{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 354px;
    top: 1304px;

    background: #3F549C;

}

.review-box {
    transition: transform 0.5s ease-in, opacity 0.5s ease;
    position: absolute;
    opacity: 0.5;
    transform: scale(0.8);
    z-index: 0;
    position: absolute;
    width: 541px;
    height: 279px;
    left: 42vw;
    top: 5vw;
  }
  
.review-box.active {
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;

    opacity: 1;
    transform: scale(1);
    display: block; /* Display when active */
    z-index: 1;
    position: absolute;
    width: 541px;
    height: 279px;
    left: 35vw;
    top: 0vw;
}

.Client1{
    z-index: 1;
    position: absolute;
    width: 541px;
    height: 279px;
    left: 661px;
    top: 1250px;
}

.Client2{
    z-index: 0;
    position: absolute;
    width: 541px;
    height: 279px;
    left: 721px;
    top: 1317px;
    opacity: 50%;
}

/* Bg */
.Client1-Box{
    position: absolute;
    width: 481px;
    height: 190px;
    left: 0px;
    top: 40px;
    background-color: white;
    border-radius: 20px;

}

/* Testimonail */
.Client1-Text{
    position: absolute;
    width: 402px;
    height: 32px;
    left: 32px;
    top: 62px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #444444;
}

.Client1-Image{
    position: absolute;
    width: 60px;
    height: 60px;
    left: -27px;
    top: 9px;
    border-radius: 50%;
}

.Client1-Name{
    position: absolute;
    width: 164px;
    height: 17px;
    left: 33px;
    top: 167px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
}

.Client1-Location{
    position: absolute;
    width: 164px;
    height: 17px;
    left: 35px;
    top: 187px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 27px;
    color: #666666;
}

.Sponsors{
    position: absolute;
    width: 1000px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 126vw;
}

.SponsorTitle{
    position: absolute;
    width: 458px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
}

.SponsorImage{
    position: absolute;
    width: 1000px;
    height: 150px;
    left: 0px;
    top: 15vw;

    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 10px;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
