body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.background{
    position:absolute;
    z-index: -1;
    width: 100vw;
}

a {
    text-decoration: none; 
    color: white; 
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    height: 30px;
    
}

body{
    background-image: url("../image/background.png");
}

.cont-header{
    display: flex;
}

.logo{
    width:80px;
    height: 70px;
    position:relative;
    right:212px;

}
.cont-header a{
    color: white;    
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}
.commencer a{
    background-color:rgb(232, 7, 146);
    border-radius: 30px;
    margin-left: 15px;  
}
.connexion a{
    background-color: white;
    color:black;
    border-radius: 30px;
}
button{
    background: none;
    border: none;
}
.logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}
nav{

    margin-right: -10%;
}
nav li{
    display: inline-block;
    padding-right:40px;
}

li a{
    font-weight: bold;
    font-size: 22px;

    color: white;
}

.go a:hover {
    cursor: pointer;
    color: rgb(232, 7, 146);
    transition: 0.5s;
}

.when-mobile {
    display: none;

}

.Bienvenue{
    display:flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 50px;
}

.Bienvenue-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    opacity:75%;
    width: 45vw;
    height: 20vh;
    border-radius: 40px;
}

.Bienvenue-container span{
    color:#B557FF;
}
.texte-bienvenue{
    display:flex;
}

.Projets {
    display: flex;
    width: 100%;
    margin-top: 150px;
    box-sizing: border-box;
    justify-content: center;
}

.Projets-container {
    display: flex;
    background-color: black;
    width: 75%;
    border-radius: 40px;
    opacity:75%;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.Projets-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Projets-content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
}

.Projets-content-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
}

.Projets-content-container-title {
    font-size: 20px;
    color:#B557FF;
    font-weight:bolder;
}

.Projets-content-container-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Projets-content-container-button {
    align-self: flex-end;
}

.Projets-content-container-button-supprimer button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 76px;
    color: black;
    background: white;
    cursor: pointer;
}

.Projets-content-container-button-acceder button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 76px;
    color: #FFFFFF;
    background: #B557FF;
    cursor: pointer;
}

.bouton-creation-container{
    display: flex;
    justify-content: center;
    margin-top:450px;
}

.bouton-creation{
    border-radius: 76px;
    color: #FFFFFF;
    background: #B557FF;
    font-size: 17px;
    height: 54px;
    width: 200px;
}

.Tickets {
    display: flex;
    width: 100%;
    margin-top: 150px;
    box-sizing: border-box;
    justify-content: center;
}

.Tickets-container {
    display: flex;
    background-color: black;
    width: 75%;
    border-radius: 40px;
    opacity:75%;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.Tickets-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Tickets-content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
}

.Tickets-content-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
}

.Tickets-content-container-title {
    font-size: 20px;
    color:#B557FF;
    font-weight:bolder;
}

.Tickets-content-container-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Tickets-content-container-button {
    align-self: flex-end;
}

.Tickets-content-container-button-traiter button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 76px;
    color: black;
    background: white;
    cursor: pointer;
}

.footer-container{
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top:500px;
}